*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  width: 100%;
}

td, th {
  width: 25%;
}
